<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.auburn.eng.csse.COMP3710.Group_22.lost_chronicle"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_web"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.auburn.eng.csse.COMP3710.Group_22.lost_chronicle.Selection_Screen"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="edu.auburn.eng.csse.COMP3710.Group_22.lost_chronicle.RPGSelectionScreen"
            android:label="@string/rpg_selector_label"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="edu.auburn.eng.csse.COMP3710.Group_22.lost_chronicle.Companion_Activity"
            android:label="@string/companion_activity_label"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="edu.auburn.eng.csse.COMP3710.Group_22.lost_chronicle.Scheduler_Activity"
            android:label="@string/scheduler_activity_label"
            android:screenOrientation="portrait">
        </activity>
        
        <activity 
            android:name="edu.auburn.eng.csse.COMP3710.Group_22.lost_chronicle.RPG_Battle"
            android:label="@string/rpg_battle_activity_label"
            android:screenOrientation="landscape">
        </activity>
    </application>

</manifest>
